@font-face {
    font-family: MorrisRoman;
    src: url(MorrisRoman-Black.ttf);
}

.V .quote p {
  font-family: 'MorrisRoman', sans-serif;
  font-size:3.5em;
  line-height:1.25em;
}
.V .quote p span::selection {
    background-color: #800000;
}
.V .quote p::selection {
    background-color: #800000;
}
.V .quote p span {
  color:#A30000;
}
.V .quote p.credit {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.5em;
  line-height: 1.25em;
  text-align:right;
  letter-spacing:1px;
  padding-top:50px;
}
.V.quote-block {
  background-color:#000;
}
.V .quote-wrapper {
  max-width:1000px;
  margin:0 auto;
  padding: 100px 0;
  color:#eee;
